accelerate
datasets
dotenv
ipykernel
ipywidgets
jupyterlab
Mastodon.py
matplotlib
networkx
numpy
pandas
pgmpy
Pillow
py7zr
pydot
python-dotenv
scikit-learn
scipy
seaborn
tf-keras
torch
torchinfo
torchvision
transformers
