accelerate
datasets
# en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
ipykernel
ipywidgets
jupyterlab
Mastodon.py
matplotlib
networkx
numpy
pandas
pgmpy
Pillow
py7zr
pydot
python-dotenv
scikit-learn
scipy
seaborn
# spacy==3.7.4
torch
torchinfo
torchvision
transformers
